<div class="board">
    <div ng-if="quiz.error !=null ">
        {{quiz.error}}
    </div>
    <div class="quiz" ng-if="quiz.error == null">
        <div ng-show="quiz.mode == 'quiz'">
            <div>
                <div class="counter">Javascrpit Quiz {{quiz.currentPage}} of {{quiz.totalQuestions}}</div>
                <div class="question">{{quiz.currentQuestion[0].text}}</div>
                <div class="options">
                    <div class="option" ng-repeat="option in quiz.currentQuestion[0].options">
                        {{quiz.buttonText[$index]}}- {{option}}
                    </div>
                </div>
                <div class="buttonContainer">
                    <div class="buttonRow">
                        <button ng-repeat="button in quiz.buttonText" ng-click="quiz.onSelect(quiz.currentQuestion[0], button)" class="pull-left">{{button}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="result" ng-show="quiz.mode == 'result'">
            <h2>Quiz Result</h2>
            <table>
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answered</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="answered in quiz.answered">
                        <td>{{answered.question}}</td>
                        <td>{{answered.answered}}</td>
                        <td ng-class="{ 'success': answered.isCorrect, 'failed': !answered.isCorrect }"></td>
                    </tr>
                </tbody>
            </table>


            <h4 class="alert alert-info text-center">You may close this window now.</h4>
        </div>
    </div>
</div>